mixin comment(comment)
    li.comment__unit(data-id=`${comment._id}`)
        if comment.owner.avatarUrl
            img.avatar-mini(src=`${comment.owner.avatarUrl}`, crossorigin)
        else
            div.avatar-default-mini
                i.fa-solid.fa-user
        section.comment__owner-data
            div.comment__owner-data__top
                span.comment__owner-data__name
                    a(href=`/users/${comment.owner._id}`) @#{comment.owner.name}
                span.comment__owner-data__date=comment.createdAt.toISOString().split('T').join(' ').slice(0,16)
            p=comment.text
        if (loggedIn  && String(comment.owner._id) === String(loggedInUser._id))
            span.delete-icon
                i.fa-solid.fa-delete-left