mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        img.video-mixin__thumb(src=video.thumbUrl crossorigin)
        div.mixin__data
            span.mixin__title=video.title
            div.mixin__meta
                span @#{video.owner.name} • 
                span #{video.meta.views} views