extends base

block content
    section#videoContainer
        video(src="/" + video.fileUrl height="500")
        section#videoControls
            button#play Play 
            button#mute Mute 
            input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
            div#time 
                span#currentTime 0:00
                span  | 
                span#totalTime
            div
                input(type="range", step="1", value=0, min="0")#timeline
            div
                button#fullscreen Enter Fullscreen
        
    
    //-
        div
            p=video.description
            small=video.createdAt
        div 
            small Video uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
        if String(video.owner) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer.js")