extends ../base
include ../mixins/comment

block content
    main
        section.post__data#postContainer(data-id=post._id)
            div.post__heading
                h1.post__title=post.title
                h3.post__topic
                    a(href=`/posts/tag/${post.topic}`) ##{post.topic}
            div.post__owner-container
                if post.owner.avatarUrl
                    div.avatar-mini
                else 
                    div.avatar-default-mini
                        i.fa-solid.fa-user
                small
                    a(href=`/users/${post.owner._id}`) @#{post.owner.name}
                if (loggedIn)
                    if String(post.owner._id) === String(loggedInUser._id)
                        button.post__button
                            a(href=`${post.id}/edit`) Edit Post
                        button.post__button
                            a(href=`${post.id}/delete`) Delete Post
            small.post__createdAt=post.createdAt.toISOString().split('T').join(' ').slice(0,16)
            img(src=post.fileUrl crossorigin).post__photo
            p.post__description=post.text
        section.post__add-comments
            h2 Comments
            include ../partials/commentForm
        section.comments__box 
            ul
                each comment in post.comments.reverse()
                    +comment(comment)

block scripts
    script(src="/static/js/postCommentSection.js")