extends ../base
include ../mixins/video
include ../mixins/post--home

block content
    main
        if loggedIn && loggedInUser._email === user._email
            h1 My Profile
        else 
            h1 #{user.name}'s Profile
        if loggedIn && loggedInUser._email !== user._email
            a(href='/') Message
        section.profile__data
            if user.avatarUrl !== ''
                img(src=user.avatarUrl crossorigin).avatar
            else
                div.avatar-default
                    i.fa-solid.fa-user
            h3 #{user.name}
            if user.pet
                h3 Guardian of #{user.pet}
        section.profile__videos
            h2 #{user.name}'s Videos
            div.video-grid
                each video in user.videos
                    +video(video)
                else
                    span.empty__message No videos found
        section.profile__posts
            h2 #{user.name}'s Posts
            div
                each post in user.posts
                    +post(post)
                else
                    span.empty__message No posts found
